:root {
    ---name-size: calc(90px * var(--scale));
    ---body-size: calc(28px * var(--scale));
    ---tiny-size: calc(22px * var(--scale));
    ---uwu-size: calc(15px * var(--scale))
}

.bg {
    position: fixed;
    z-index: -6;
    aspect-ratio: 17 / 9;
    width: max(100vw, calc(100vh * 17 / 9));
    height: max(100vh, calc(100vw * 9 / 17));
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("img/banner 2.png") center / cover no-repeat;
    background-position-x: -30vw;
}

body {
    background-color: #000000;
}

.blur {
    border: 3px solid black;
    text-align: left;
    background-color: #ffffff15;
    border-radius: 7px;
    width: 85vw;
    height: auto;
    aspect-ratio: 17/9;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    z-index: -2;
}

.wm {
    position: fixed;
    z-index: 0;
    width: max(100vw, calc(100vh * 17 / 9));
    aspect-ratio: 17 / 9;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("img/wm.png") center / cover no-repeat;
    background-position-x: -30vw;
}

.main {
    border-width: 5px;
    border-style: solid;
    border-color: black;
    background-color: #ffffff15;
    text-align: left;
    border-radius: 18px;
    width: 85vw;
    height: auto;
    aspect-ratio: 17/9;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    z-index: 0;
}

.split1 {
    border-width: 3px;
    border-style: dotted;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    position:absolute;
    top: 3%;
    left: 50%;
    width: 99%;
    height: 15%;
    transform: translate(-50%, -15%);
    z-index: 1;
}
.splitmain {
    border-width: 3px;
    border-style: none;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-radius: 18px;
    position:absolute;
    top: 30%;
    left: 50%;
    width: 99%;
    height: 80%;
    transform: translate(-50%, -15%);
    background-color: #ffffff15;
    z-index: 2;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: var(--body-size);
    color: #ffffff;
}

.namimage {
    top: 1%;
    left: 80%;
    height: 50%;
    aspect-ratio: 64/45;
    position: absolute;
    transform: translateX(-50%);
    background: url("img/name.png") center / cover fixed no-repeat;
}

.name {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: var(---name-size);
    color: #ffffff;
    left: 25%;
    top: 2%;
    position: absolute;
    transform: translateX(-50%);
}

.splitmain tn {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: var(---body-size);
    color: #ffffff;
}

.splitmain tiny {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: var(---tiny-size);
    color: #ffffff;
}

.desc1 {
    border-width: 3px; 
    border-color: #ffffff6a;
    border-style: dotted;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    position:absolute;
    width: 63%;
    left: 1%;
    height: 28%;
    top: 17%;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: var(---tiny-size);
    color: #ffffff;
}

.desc1 p {
    margin: 0;
}

.desc1 smaller {
    font-size: var(---uwu-size);
}

.desc1 a {
    color: #aaaaff;
}

.dscbtn {
    background: url(img/button.png) center / cover fixed no-repeat; 
    height: 80%;
    aspect-ratio: 12 / 5;
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity:85%;
}

.dscbtn:hover {
    background: url(img/button.png) center / cover fixed no-repeat; 
    height: 80%;
    aspect-ratio: 12 / 5;
    background-color:#ffaaaaaa;
    position:absolute;
    top: 50%;
    opacity: 100%;
    transform: translateY(-50%);
}