body {
    background: url("img/banner 2.png") center / cover fixed no-repeat;
    background-position-x: -30vw;
}

.blur {
    border: 3px solid black;
    text-align: left;
    background-color: #ffffff15;
    border-radius: 7px;
    width: 85vw;
    height: 85vh;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    z-index: -2;
}

.wm {
    position:absolute;
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:url("img/wm.png") center/ cover fixed no-repeat;
    background-position-x: -30vw;

    z-index: -1;
}

.main {
    border-width: 5px;
    border-style: solid;
    border-color: black;
    background-color: #ffffff15;
    text-align: left;
    border-radius: 18px;
    width: 85vw;
    height: 85vh;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    z-index: 0;
}

.split1 {
    border-width: 3px;
    border-style: dotted;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    position:absolute;
    top: 5%;
    left: 50%;
    width: 99%;
    height: 20%;
    transform: translate(-50%, -20%);
}

.dscbtn {
    background: url(img/button.png) center / cover fixed no-repeat; 
    height: 80%;
    aspect-ratio: 12 / 5;
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity:85%;
}

.dscbtn:hover {
    background: url(img/button.png) center / cover fixed no-repeat; 
    height: 80%;
    aspect-ratio: 12 / 5;
    background-color:#ffaaaaaa;
    position:absolute;
    top: 50%;
    opacity: 100%;
    transform: translateY(-50%);
}